*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

header{
    height: 440px;
    background-image: url("../img/banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.lies ul li a{
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}



.lies ul li a:hover{
    color:#ff7e8b;
}

